*~
*.diff
*.orig
*.err
*.log
*.rej
*.swo
*.swp
*.pyc
*.pyo
*.vi
__pycache__
*.sass-cache
*.kate-swp
*.lokalize
.*.yml
.directory
.coverage
.coverage.*
.installed.cfg

.idea
*.iml
.cache
.tmproj
.project
.settings
.komodotools
.DS_Store
